@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
::after,
::before,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary: #edf0f7;
  --secondary: #08013b;
  --text: #3c50e0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
  border-radius: 20px;
  height: 120px;
}
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
}
nav img {
  object-fit: contain;
  width: 80px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
nav .fas {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3em;
  font-size: 1.2em;
  font-weight: 500;
  z-index: 20;
}
nav li::after {
  content: "";
  border-bottom: 1px solid var(--secondary);
  transition: width 0.3s ease-in-out;
  position: relative;
  top: 1px;
  display: block;
  left: 0px;
  width: 0%;
  height: 2px;
}
nav li:hover::after {
  width: 100%;
}

nav {
  padding: 0px 40px 0px 20px;

  /* Navlinear */

  background: linear-gradient(
    90.37deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.5) 0.01%,
    rgba(255, 255, 255, 0.4) 99.73%
  );
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
}
.heading {
  text-align: center;
  color: var(--text);
  font-weight: 500;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.heading p {
  border-bottom: 1px solid var(--secondary);
  width: 420px;
}
.contents {
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.contents p {
  width: 1000px;
  color: var(--secondary);
}
.link {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-left: -770px;
}
.link a {
  color: var(--text);
}
.contents span {
  color: var(--text);
}

@media (max-width: 768px) {
  body {
    overflow: scroll;
  }
  nav {
    display: flex;
    justify-content: space-between;
    gap: 0em;
    padding: 0.5rem;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  nav ul {
    position: fixed;
    background-color: var(--primary);
    inset: 0px;

    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    padding-top: 50px;
    gap: 2.5em;
    transform: translateX(-300px);
    transition: transform 500ms ease-in-out;
  }
  .width {
    transform: translateX(0px);
    transition: transform 500ms ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  nav .fas {
    display: block;
    transition: all 500ms ease-in-out;
    color: var(--secondary);
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 5px;
  }
  .contents p {
    width: 300px;
  }
  .link {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-left: -70px;
  }
  .heading {
    text-align: center;
    color: var(--text);
    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  .heading p {
    border-bottom: 1px solid var(--secondary);
    width: 350px;
  }
}
